<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menuId="sideMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Options</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>La page des options</p>
</ion-content>