<ion-tabs>
    <ion-tab-bar>
        <!-- <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button> -->
        <ion-tab-button tab="appareils">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label>Appareils</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>