.isOn {
    ion-card-title,
    ion-card-content,
    ion-card-grid {
        --color: var(--ion-color-green-perso);
        background-color: var(--ion-color-success-shade);
    }
}

.isOff {
    ion-card-title,
    ion-card-content,
    ion-card-grid {
        --color: var(--ion-color-red-perso);
        background-color: var(--ion-color-danger-shade);
    }
}