<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-back-button defaultHref="/tabs/appareils"></ion-back-button>
                </ion-col>
                <ion-col size="10">
                    <ion-title>{{ appareil.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
    <p>Plus d'informations sur {{ appareilName }} .</p>
</ion-content> -->
<ion-content class="ion-padding">
    <ion-card [ngClass]="{'isOn': appareil.isOn, 'isOff': !appareil.isOn}">
        <ion-card-header>
            <ion-card-title>
                {{ appareil.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngFor="let line of appareil.description">
            <p>{{ line }}</p>

        </ion-card-content>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col>
                    <ion-button color="danger" expand="full" [disabled]="!appareil.isOn" (click)="onToggle()">
                        <ion-label>Eteindre</ion-label>
                        <ion-icon name="stop-circle-outline" slot="end"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full" [disabled]="appareil.isOn" (click)="onToggle()">
                        <ion-label>Allumer</ion-label>
                        <ion-icon name="sunny-outline" slot="end"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


</ion-content>