<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menuId="sideMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Appareils</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <h1>Liste des appareils</h1>
    <!-- <ion-button (click)="onLoadAppareils('Machine à laver')">Machine à laver</ion-button>
    <ion-button (click)="onLoadAppareils('Télévision')">Télévision</ion-button> -->
    <ion-list>
        <ion-item *ngFor="let appareil of appareilsList;  let  i = index" color="light" (click)="onLoadAppareil(i)" detail routerDirection="forward">
            <!--  <ion-item *ngFor="let appareil of appareilsList color="light" (click)="onLoadAppareil(appareil)">-->
            <ion-icon [name]="appareil.isOn ? 'radio-button-on-outline' : 'radio-button-off-outline' " slot="start" [color]="appareil.isOn ? 'success ' : 'danger '"></ion-icon>
            <ion-label>{{appareil.name}}

            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>Footer</ion-title>
    </ion-toolbar>
</ion-footer>