<ion-header>
    <ion-toolbar>

        <ion-title>modalExample</ion-title>
        <ion-button clear slot="end" (click)="dismissModal()">
            <ion-label>Fermer</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    {{firstName}} - {{lastName}} - {{middleInitial}}
</ion-content>