<ion-header>
    <ion-toolbar>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="secondary" (click)="onGoToAppareils()">Appareils</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>