<ion-split-pane contentId="sideMenu">
    <ion-menu contentId="sideMenu" menuId="first">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                    <ion-item button [routerLink]="p.url" [class.active-item]="selectedPath.startsWith(p.url)" [routerDirection]="'root'">
                        <ion-label>
                            {{ p.title }}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="sideMenu" main></ion-router-outlet>
</ion-split-pane>