<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="onAlerte()">
        <ion-icon slot="start" name="power-outline"></ion-icon>
        <ion-label>allumer alerte</ion-label>
    </ion-button>
    <ion-button (click)="presentModal()">
        <ion-icon slot="start" name="power-outline"></ion-icon>
        <ion-label>ouvrir modal</ion-label>
    </ion-button>
</ion-content>